body {
  background-color: #ec5d51;
}
button {
  padding: 10px 15px;
  font-size: 40px;
  border: none;
  color: #ec5d51;
  border-radius: 8px;
  background-color: white;
  cursor: pointer;
  outline: none;
}
button:active {
  transform: translateY(2px);
}
#pomodoro-body {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
#pomodoro-timer {
  color: white;
  font-size: 200px;
  font-weight: lighter;
}

#start-timer {
  /*border-color:  #4CAF50;*/
}

#stop-timer {
  /*color: #ec5d51;*/
}

#reset-timer {
  /*color: #c8942a;*/
}